body{
    font-family: sans-serif;
    font-size: 25px;

}

.berlin-1{
    border: 3px solid blue;
    border-radius: 15px;
    margin: 40px;
    padding: 25px 20px 60px;
    align-content: center;
}

.istanbul-1{
    border: 9px dashed red;
    border-radius: 8px;
    margin: 40px;
    padding: 25px 20px 60px;
    align-content: center;


}


.paris-1{
    border: 5px solid yellowgreen;
    border-radius: 12px;
    margin: 22px  25px ;
    padding: 25px 20px 60px;

}

h2{
    color: blueviolet;
    text-align: center;

}
.brühmtePara-1{
    width: 50%;
    border: 4px dashed ;
    padding: 15px;
    margin: 0 auto;
}

.brühmtePara-2{
    width: 50%;
    border: 4px dashed ;
    padding: 15px;
    margin: 0 auto;
}


